In [1]:
from nrfaApi import *
import pandas as pd

In [2]:
data = getTimeSeries('cmr', '45001')
df= pd.DataFrame(data=data)
df

     Year  Month  Value
0    1956      1  148.6
1    1956      2   10.2
2    1956      3   45.4
3    1956      4   45.4
4    1956      5   23.8
..    ...    ...    ...
739  2017      8   74.3
740  2017      9  118.5
741  2017     10   78.6
742  2017     11  107.5
743  2017     12  187.8

[744 rows x 3 columns]

In [ ]:
#split string to make the time series show multiple spots for each year

In [2]:
data = getMetaData('45001')
df= pd.DataFrame(data=data)
df

                       Key                                              Value
0                       id                                              45001
1                     name                                  Exe at Thorverton
2                    river                                                Exe
3                 location                                         Thorverton
4                 lat-long  {'string': '50°48'15.0265"N 3°30'40.7121"W', '...
5        high-perm-bedrock                                               None
6    moderate-perm-bedrock                                             0.1565
7         low-perm-bedrock                                             0.8435
8       mixed-perm-bedrock                                               None
9    high-perm-superficial                                             0.0111
10    low-perm-superficial                                             0.0057
11  mixed-perm-superficial                                             0.0285
12        minimum-altitude                                               27.6
13  10-percentile-altitude                                              117.2
14  50-percentile-altitude                                              235.7
15  90-percentile-altitude                                              382.8
16        maximum-altitude                                              516.8
17             urbext-1990                                             0.0025
18            urbconc-1990                                               None
19             urbloc-1990                                               None
20             urbext-2000                                             0.0061
21            urbconc-2000                                              0.747
22             urbloc-2000                                              0.513